[submodule ".vim/pack/plugins/start/ctrlp"]
	path = .vim/pack/plugins/start/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/plugins/start/tsuquyomi"]
	path = .vim/pack/plugins/start/tsuquyomi
	url = git@github.com:Quramy/tsuquyomi.git
[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/start/vim-airline-themes"]
	path = .vim/pack/plugins/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule ".vim/pack/plugins/start/vim-jsx-typescript"]
	path = .vim/pack/plugins/start/vim-jsx-typescript
	url = git@github.com:peitalin/vim-jsx-typescript.git
[submodule ".vim/pack/plugins/start/vim-prettier"]
	path = .vim/pack/plugins/start/vim-prettier
	url = git@github.com:prettier/vim-prettier.git
[submodule "bin/z"]
	path = bin/z
	url = git@github.com:rupa/z.git
[submodule "/Users/seankwalker/.vim/pack/plugins/start/yats.vim"]
	path = /Users/seankwalker/.vim/pack/plugins/start/yats.vim
	url = git@github.com:HerringtonDarkholme/yats.vim.git
[submodule ".vim/pack/plugins/start/LeaderF"]
	path = .vim/pack/plugins/start/LeaderF
	url = git@github.com:Yggdroot/LeaderF.git
[submodule ".vim/pack/plugins/start/vim-graphql"]
	path = .vim/pack/plugins/start/vim-graphql
	url = git@github.com:jparise/vim-graphql.git
